.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
#carouselExampleControls{
    padding: 30px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #f01267 0%, #ff136f 100% ) ;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    color: #fff;
    cursor: pointer;
}
.categort1,.categort2,.categort3{
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
}
.categort1{
    background-image: linear-gradient(to left, #cf9517 0%,  #b68b2e 100%);
}
.categort2{
    background-image: linear-gradient(to left, #ce1442 0%,  #be3479 100%);
}
.categort3{
    background-image: linear-gradient(to left, #217feb 0%,  #367dda 100%);
}
.card{
    box-shadow: 5px 5px 10px lightgray ;


}
.card,.card-footer{
    border: none;
    background-color: #fff;
    margin: 20px 20px;
    border-radius: 10px;
}
#contact{
    padding: 50px 0px;
}
#contact h6{
    color: lightslategray;
}
footer{
    text-align: center;
}
